<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form id="currencyConverterForm" [formGroup]="currencyConverterForm" autocomplete="off">
                <div class="form-group">
                    <label for="selBaseCurrency">Base currency</label>
                    <select id="selBaseCurrency" formControlName="selBaseCurrency" name="selBaseCurrency"
                        class="form-control" (change)="popullateTargetCurrentList($event)">
                        <option value="">Select base currency...</option>
                        <option value="EUR">EUR</option>
                        <option *ngFor="let key of objectKeys(items)" [value]="key">{{key}}</option>
                    </select>
                    <div *ngIf="currencyConverterForm.controls.selBaseCurrency.invalid && (currencyConverterForm.controls.selBaseCurrency.dirty || currencyConverterForm.controls.selBaseCurrency.touched)"
                        class="error-list">
                        <span class="error-list__item"
                            *ngIf="currencyConverterForm.controls.selBaseCurrency.errors.required">
                            <small>The base currency is required</small>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="selTargetCurrency">Target currency</label>
                    <select id="selTargetCurrency" formControlName="selTargetCurrency" name="selTargetCurrency"
                        class="form-control">
                        <option value="">Select target currency...</option>
                        <option *ngFor="let key of objectKeys(targetCurrency)" [value]="targetCurrency[key]">{{key}}
                        </option>
                    </select>
                    <div *ngIf="currencyConverterForm.controls.selTargetCurrency.invalid && (currencyConverterForm.controls.selTargetCurrency.dirty || currencyConverterForm.controls.selTargetCurrency.touched)"
                        class="error-list">
                        <span class="error-list__item"
                            *ngIf="currencyConverterForm.controls.selTargetCurrency.errors.required">
                            <small>The target currency is required</small>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtAmount">Amount $</label>
                    <input type="text" id="txtAmount" formControlName="txtAmount" name="txtAmount"
                        class="form-control" />
                    <div *ngIf="currencyConverterForm.controls.txtAmount.invalid && (currencyConverterForm.controls.txtAmount.dirty || currencyConverterForm.controls.txtAmount.touched)"
                        class="error-list">
                        <span class="error-list__item" *ngIf="currencyConverterForm.controls.txtAmount.errors.required">
                            <small>The amount is required</small>
                        </span>
                        <span class="error-list__item" *ngIf="currencyConverterForm.controls.txtAmount.errors.pattern">
                            <small>The amount must be a number</small>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="text" class="btn btn-default" (click)="performConversion()">Convert amount</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ conversionResult }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" *ngIf="objectKeys(targetCurrency).length">
            <h3>Current prices</h3>
            <div class="currentPrices">
                <ul>
                    <li *ngFor="let key of objectKeys(targetCurrency)">{{key +' '+ targetCurrency[key]}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>